/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e5e5e5;
  color: #333;
}


.dashboard {
  display: flex;
  min-height: 100vh; /* full height */
}
/* Light mode styles for sidebar */
.sidebar {
  margin-top: -20px;
  width: 200px;
  background: linear-gradient(180deg, #38a8de 0%, #38a8de 100%); /* Gradient background */
  color: white;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2); /* Subtle shadow for depth */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Reset default margin */
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;
  border-bottom: 1px solid #38a8de; /* Slightly lighter border color for separation */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.sidebar ul li a.active {
  background-color: #38a8de;
  color: white;
}

/* Hover effect for sidebar items */
.sidebar ul li a:hover {
  background-color: #007acc;
  color: white;
}

/* Additional styles for active link to make it stand out */
.sidebar ul li a.active {
  font-weight: bold; /* Make the active link bold */
  border-left: 4px solid #3498DB; /* Add a left border to the active link */
}



/* Style the main content container */
.main-content {

  flex-grow: 1;
  padding: 20px;
  background-color: #f0f0f0;
  margin-top: -20px; /* Add margin to separate it from the app header */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* subtle shadow for depth */
}

.user-info span {
  margin-right: 10px;
}

.translation-section h2 {
  margin-bottom: 10px;
}

/* Style buttons with gradients and rounded corners */
button {
  padding: 10px 20px;
  margin-left: 8px;
  background: linear-gradient(180deg, #38a8de 0%, #38a8de 100%);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover function for buttons */
button:hover {
  background: linear-gradient(180deg, #007acc 0%, #007acc 100%); /* Change the background color on hover */
  color: white; /* Change text color to white on hover */
}


/* Additional styles for new features */

.recording-section button,
.note-actions button {
  margin: 5px;
  padding: 8px 16px;
  background-color: #009688;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover function for recording and note action buttons */
.recording-section button:hover,
.note-actions button:hover {
  background-color: #00796B; /* Change the background color on hover */
}

.notes-list {
  margin-top: 20px;
}

.note-entry {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.note-title {
  font-weight: bold;
}

.note-date {
  color: #666;
  font-size: 0.9em;
}

.transcription-panel,
.analytics-section {
  margin-top: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.transcription-panel h2,
.analytics-section h2 {
  border-bottom: 2px solid #009688;
  padding-bottom: 5px;
  margin-bottom: 10px;
}


/* Add some margin and styling to the icons */
.sidebar ul li a i {
  margin-right: 10px;
  font-size: 18px;
}

/* Change the color and style for active link */
.sidebar ul li a.active {
  background-color: #38a8de;
  color: white;
}

/* Enhancements for charts and graphs */
.dark-mode #analyticsChart,
#analyticsChart {
  background-color: var(--dark-surface);
  border-color: var(--dark-border);
  height: 300px !important;
  width: 100% !important;
}

/* Style the search input and button container */
.search-input {
  display: flex;
  align-items: center;
  flex: 1;
}

/* Style the search input */

.search-notes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the search input */
#searchNotes {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  background: transparent;
  color: #333;
  width: 100%;
}

/* Style the search button */
#searchButton {
  margin-right: 10px;
  background-color: #38a8de;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

/* Hover effect for sidebar items */
.sidebar ul li a:hover {
  background-color: #007acc;
  color: white;
}


/* Style the search options */
.search-options {
  display: flex;
  align-items: center;
}

/* Style the label for the search options */
label {
  margin-right: 10px;
}

/* Style the select box for search options */
#searchOptions {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  outline: none;
}

/* Style the app header to replicate app colors */

/* Style the app header to replicate app colors */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #38a8de;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.app-name {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  margin-right: auto;
}

.auth-buttons button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 10px;
}

.auth-buttons button:hover {
  background-color: white;
  color: #38a8de;
}

/* Style the grey area between app header and main container */
.grey-area {
  background-color: #f0f0f0;
  padding: 20px; /* Add padding to create separation */
  border-top: 1px solid #ccc; /* Add a top border for separation */
  border-bottom: 1px solid #ccc; /* Add a bottom border for separation */
}



/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e5e5e5;
  color: #333;
}


.dashboard {
  display: flex;
  min-height: 100vh; /* full height */
}

.sidebar {
  margin-top: -20px;
  width: 200px;
  background: linear-gradient(180deg, #38a8de 0%, #38a8de 100%); /* Gradient background */
  color: white;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2); /* subtle shadow for depth */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* reset default margin */
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;
  border-bottom: 1px solid #38a8de; /* Slightly lighter border color for separation */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}
.sidebar ul li a.active {
  background-color: #38a8de;
  color: white;
}

/* Hover effect for sidebar items */
.sidebar ul li a:hover {
  background-color: #007acc;
  color: white;
}

/* Style the main content container */
.main-content {

  flex-grow: 1;
  padding: 20px;
  background-color: #f0f0f0;
  margin-top: -20px; /* Add margin to separate it from the app header */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* subtle shadow for depth */
}

.user-info span {
  margin-right: 10px;
}

.translation-section h2 {
  margin-bottom: 10px;
}

/* Style buttons with gradients and rounded corners */
button {
  padding: 10px 20px;
  margin-left: 8px;
  background: linear-gradient(180deg, #38a8de 0%, #38a8de 100%);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover function for buttons */
button:hover {
  background: linear-gradient(180deg, #007acc 0%, #007acc 100%); /* Change the background color on hover */
  color: white; /* Change text color to white on hover */
}


/* Additional styles for new features */

.recording-section button,
.note-actions button {
  margin: 5px;
  padding: 8px 16px;
  background-color: #009688;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover function for recording and note action buttons */
.recording-section button:hover,
.note-actions button:hover {
  background-color: #00796B; /* Change the background color on hover */
}

.notes-list {
  margin-top: 20px;
}

.note-entry {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.note-title {
  font-weight: bold;
}

.note-date {
  color: #666;
  font-size: 0.9em;
}

.transcription-panel,
.analytics-section {
  margin-top: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.transcription-panel h2,
.analytics-section h2 {
  border-bottom: 2px solid #009688;
  padding-bottom: 5px;
  margin-bottom: 10px;
}


/* Add some margin and styling to the icons */
.sidebar ul li a i {
  margin-right: 10px;
  font-size: 18px;
}

/* Change the color and style for active link */
.sidebar ul li a.active {
  background-color: #38a8de;
  color: white;
}

/* For small screens, stack the sidebar below the main content */


/* Style the search input and button container */
.search-input {
  display: flex;
  align-items: center;
  flex: 1;
}

/* Style the search input */

.search-notes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the search input */
#searchNotes {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  background: transparent;
  color: #333;
  width: 100%;
}

/* Style the search button */
#searchButton {
  margin-right: 10px;
  background-color: #38a8de;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

/* Hover effect for sidebar items */
.sidebar ul li a:hover {
  background-color: #007acc;
  color: white;
}


/* Style the search options */
.search-options {
  display: flex;
  align-items: center;
}

/* Style the label for the search options */
label {
  margin-right: 10px;
}

/* Style the select box for search options */
#searchOptions {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  outline: none;
}

/* Style the app header to replicate app colors */

/* Style the app header to replicate app colors */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #38a8de;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.app-name {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  margin-right: auto;
}

.auth-buttons button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 10px;
}

.auth-buttons button:hover {
  background-color: white;
  color: #38a8de;
}

/* Style the grey area between app header and main container */
.grey-area {
  background-color: #f0f0f0;
  padding: 20px; /* Add padding to create separation */
  border-top: 1px solid #ccc; /* Add a top border for separation */
  border-bottom: 1px solid #ccc; /* Add a bottom border for separation */
}


#analyticsChart {
  background-color: white;
  height: 300px !important;
  width: 100% !important;
}

        /* Styling for the audio player */
        .audio-player {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .controls {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        audio {
            display: none; /* Hide the audio element */
        }




    
    .select-message {
      color: #007bff; /* Primary text color */
      font-size: 1.2rem; /* Adjust font size */
      font-weight: bold; /* Add bold font weight */
      margin-bottom: 20px; /* Add some bottom margin for spacing */
    }
    
    

.highlight {
  background-color: yellow;
}

.notes-list {
  margin-top: 20px; /* Adjust the margin to create space for the search bar */
}
