
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Botlale Voice Meeting Notes</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dark-mode.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/recording.css') }}">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>

  <header class="d-md-none mb-3">
    {% include 'navbar.html'  %}
  </header>

  <header class="app-header d-none d-md-flex">
    <div class="logo">
          <img src="{{ url_for('static', filename='css/BOTLHALE.png') }}"   alt="App Logo">
    </div>

    <div class="app-name">TranscriptForge</div>

    <div class="auth-buttons">
      {% if username %}
        <span>Welcome, {{ username }}</span>
        <button id="logoutButton" onclick="window.location.href='/logout'">Logout</button>
      {% endif %}
    </div>

    <div class="dark-mode-toggle">
      <label for="darkModeSwitch">Dark Mode:</label>
      <input type="checkbox" id="darkModeSwitch">
    </div>
  </header>



<div class="dashboard">
  <nav class="sidebar d-none d-md-block">
    <ul>
      <li><a href="/dashboard" class="active">Dashboard</a></li>
    </ul>
  </nav>

  <main class="main-content"><!-- UPDATE -->
    <header class="d-flex flex-wrap header"><!-- UPDATE -->
      <h1 class="three-d">Dashboard</h1><!-- UPDATE -->
      <div class="user-info d-md-none mb-3"><!-- UPDATE -->
        <span>Welcome, {{ username }}</span>
      </div>
    </header>

    <section class="recording-section">
      <p class="d-inline-flex gap-1">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Record a Meeting
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div id="controls" class="border border-info rounded p-3">
        <div class="mb-3">
          <label for="name" class="form-label">Start recording your meeting:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter the name of the meeting">
        </div>
        <button id="recordButton" ><i class="fas fa-circle"></i></button>      <!-- UPDATE -->
        <button id="pauseButton"  disabled><i class="fas fa-pause"></i></button> <!-- UPDATE -->
        <button id="stopButton"  disabled><i class="fas fa-square"></i></button> <!-- UPDATE -->
        <a href="#" class="upload-link"><i class="fas fa-upload"></i></a> <!-- UPDATE -->
        <div id="uploadCompleteMessage" style="display: none;">Upload Complete</div> <!-- UPDATE -->


        <div id="uploadProgress" class="progress" style="display:none;">
          <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%"></div>
        </div>
        
        
        <div id="formats"></div>
        <ol id="recordingsList"></ol>
       </div>
      </div>
    </section>

    <section class="notes-list d-flex flex-wrap">
      <div class="search-notes">
        <div class="search-input">
          <input id="searchInput" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button id="searchButton" type="button">Search</button>
        </div>
      
        <div class="search-options">
          <label for="searchOptions">Filter by:</label>
          <select id="sortOptions">
            <option value="Date">Sort by Date</option>
            <option value="Meeting_Name">Sort by Title</option>
          </select>
        </div>
      </div>
    </section>
    
    <!-- Search Results Container -->
    <section id="search-results" class="mt-4 w-100"><!-- Search results will be injected here --></section>


    <section class="transcription-panel">
      <h2>Meeting Summaries</h2>
      <div id="result" hx-get="/retrieve-meeting-summaries" hx-trigger="load" hx-swap="outerHTML" hx-target="#result"></div>
    </section>
  <!-- Insert the error message div here -->
  <div id="error-message" style="display: none;"></div>
  </main>
</div>

<script>



</script>
  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src={{ url_for('static', filename='js/recorder.js')}}></script>
    <script src={{ url_for('static', filename='js/app.js')}}></script>
    <script src={{ url_for('static', filename='js/script.js')}}></script>
    <script src={{ url_for('static', filename='js/search.js')}}></script>
</body>
</html>
